* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../img/botanical-bg.jpg');
  background-size: cover;
  background-position: center;
}

.account-wrap{
  width: 420px;
  background-color: transparent;
  border: 1.5px solid rgba(66, 66, 66, 0.631);
  color: #040404;
  border-radius: 10px;
  padding: 30px 40px;
}

.account-wrap h1{
  font-size: 36px;
  text-align: center;
}

.account-wrap .account-input-box{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.account-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline:none;
  border: 1.5px solid rgba(66, 66, 66, 0.631);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.account-input-box input::placeholder{
  color: #000000;
}

.account-wrap .account-btn{
  width: 100%;
  height: 45px;
  background: #755785;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 12px rgba(151, 149, 149, 0.295);
  cursor: pointer;
  color: #efe9e9;
  font-weight: 600;
  transition: background-color 0.5s;
}

.account-wrap .account-btn:hover{
  background-color: #8e69a2;
}

.account-wrap .sign-in-link{
  font-size: 14.5px;
  text-align:center;
  margin: 20px 0 15px;
}

.sign-in-link a{
  color: #9677a7;
  text-decoration: none;
  font-weight: 600;
}

