body{
  background-color: #F5E4E2;
  font-family: Lora;
}

.main{
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}

.page-title{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}

.checkout-grid{
  display:grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items: start;
}

@media (max-width: 1000px) {
  .checkout-grid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .main{
    max-width: 500px;
  }
  .checkout-grid{
    grid-template-columns: 1fr;
  }
}

.cart-item-container,
.payment-summary{
  border: 1.5px solid rgb(163, 163, 163);
  border-radius: 4px;
  padding: 18px;
} 


.cart-item-container{
  margin-bottom: 12px;
}

.payment-summary{
  padding-bottom: 5px;
}

@media (max-width: 1000px){
  .payment-summary{
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.delivery-date {
  color: rgb(184, 96, 118);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
  font-family: Playfair Display;
}

.cart-item-details-grid{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media(max-width: 1000px){
  .cart-item-details-grid{
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.product-image{
  max-width: 100%;
  max-height: 120px;

  margin-left:auto;
  margin-right: auto;
}

.product-name{
  font-weight: 700;
  margin-bottom: 8px;
}

.product-price{
  color: rgb(143, 30, 1);
  font-weight: 700;
  margin-bottom: 5px;
}

.product-quantity .link-primary{
  margin-left: 3px;
}

@media (max-width: 1000px) {
  .delivery-options{
    grid-template-columns: 1 / span 2;
  }
}

.update-quantity-link{
  color: rgb(168, 34, 105);
  font-family: Playfair Display;
  transition: color 0.2s;

}

.update-quantity-link:hover{
  color: rgb(207, 50, 134);
  cursor: pointer;
  font-family: Playfair Display;
}

.delete-quantity-link{
  color: rgb(168, 34, 105);
  font-family: Playfair Display;
  transition: color 0.2s;

}

.delete-quantity-link:hover{
  color: rgb(207, 50, 134);
  cursor: pointer;
  font-family: Playfair Display;

}

.save-quantity-link{
  color: rgb(168, 34, 105);
  font-family: Playfair Display;
  transition: color 0.2s;

}

.save-quantity-link:hover{
  color: rgb(207, 50, 134);
  cursor: pointer;
  font-family: Playfair Display;

}

.delivery-options-title{
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option{
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.delivery-option-date{
  color: rgb(168, 34, 105);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price{
  color: rgb(87, 87, 87);
  font-size: 15px;
}

.payment-summary-row{
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary-money{
  text-align: right;
}

.subtotal-row div{
  padding-top: 9px;
}

.total-row{
  color: rgb(161, 42, 72);;
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(178, 178, 178);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  background-color: rgb(242, 140, 156);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;

  margin-top: 11px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.place-order-button:hover{
  background-color: rgb(243, 164, 176);
  cursor: pointer;
}

.quantity-input{
  width: 30px;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .save-quantity-link{
  display: inline;
}

.is-editing-quantity .quantity-input {
  display: inline;
}

.is-editing-quantity .quantity-label 
.is-editing-quantity .update-quantity-link {
  display: none;
}

.fancy-quill{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 350px;
  position: relative;
}

.fancy{
  height: 330px;
  opacity: 0.9;
}

@media (max-width: 1000px ){ 
  .fancy{
    display: none;
  }
}
