body{
  background-color: #F5E4E2;
}

.quill-header{
  background-color: rgb(193, 187, 214);
  color:black;
  padding-left: 15px;
  padding-right: 15px;

  display:flex;
  align-items: center;
  justify-content: space-between;

  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 77px;
}

.quill-ink-left-side{
  width: 180px;
}

@media (max-width: 800px) {
  .quill-ink-left-side {
    width: unset;
  }
}

.quill-header-link{
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border:1px solid rgba(0,0,0,0);
}

.quill-header-link:hover{
  border: 1px solid rgba(255, 255, 255, 0.933);;
}

.quill-logo{
  width:77px;
  margin-top: 2px;
  margin-left: 44px;
}

@media (max-width: 575px) {
  .quill-logo {
    display: none;
  }
}

.quill-ink-middle-side{
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.order-search-bar{
  flex:1;
  width:0;
  font-size: 16px;
  height:38px;
  padding-left: 15px;
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-search{
  background-color: rgb(230, 228, 243);;
  border:none;
  width: 40px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.order-search-icon{
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.quill-ink-right-side{
  flex-shrink:0;
  display:flex;
  gap: 20px;
}

.quill-order-link{
  color:black;
}

.quill-returns{
  display:block;
  font-size:13px;
  margin-top: 8px;
}

.quill-orders{
  display:block;
  font-size:15px;
  font-weight: 700;
}

.quill-cart-link{
  color:black;
  display: flex;
  align-items:center;
  position:relative;
  text-align: center;
}

.quill-cart-icon{
  width:52px;
  height: 50px;
}

.quill-cart-text{
  margin-top:15px;
  margin-left: 4px;
  font-size:12px;
  font-weight: 700;
}

.quill-cart-quantity{
  color: rgb(209, 173, 220);
  font-size: 13px;
  font-weight: 700;

  position:absolute;
  top: -2.5px;
  right: 51px;

  background-color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}

.main-r-o-content{
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left:auto;
  margin-right: auto;
}

.r-o-page-heading{
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.r-o-grid{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.r-o-header{
  background-color: #c4acb6;
  border: 1.5px solid rgb(133, 133, 133);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 25px;
  border-top-left-radius: 8px;;
  border-top-right-radius: 8px;;
}

.r-o-left-side{
  display: flex;
  gap: 45px;
}

.r-o-label{
  font-weight: 500;
  margin-right: 5px;
  font-family: Lora;
}

.r-o-date,
.r-o-total{
  margin-right: 45px;
}

.r-o-right-side{
  text-align: center;
}

@media (max-width: 575px) {
  .r-o-header{
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .r-o-left-side{
    flex-direction: column
  }

  .r-o-label{
    margin-right: 5px;
  }

  .r-o-date,
  .r-o-total{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right:0;
  }

  .r-o-right-side{
    display:grid;
    grid-template-columns: auto 1fr;
  }
}

.book-order-deets{
  padding: 40px 25px;
  border: 1.5px solid rgb(133, 133, 133);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: grid;
  grid-template-columns: 110px 1fr 220px;
  gap: 35px;
  align-items: center;
}

@media (max-width: 800px) {
  .book-order-deets{
    grid-template-columns: 110px 1fr;
    row-gap: 0;
    padding-bottom: 8px;
  }
}

@media (max-width: 450px){
  .book-order-deets{
    grid-template-columns: 1fr;
  }
}

.book-img-container{
  text-align: center;
}

.book-img-container img{
  max-width: 110px;
  max-height: 110px;
}

.book-name{
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Merriweather;
}

.book-delivery-time{
  margin-bottom: 8px;
  font-family: Merriweather;
}

.book-qunantity{
  margin-bottom: 15px;
  font-family: Merriweather;
}

.purchase-again-B{
  font-size: 14px;
  font-family: Playfair Display;
  width: 160px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(235, 161, 183, 0.774);
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.purchase-again-B:hover{
  background-color: rgb(242, 192, 207);
  cursor: pointer;
}

.purchase-again-I{
  width: 25px;
  font-size: 15px;
  padding: 8px;
}

.book-actions{
  align-self: start;
}

.book-track-button{
  width: 100%;
  font-size: 15px;
  font-family: Playfair Display;
  border-radius: 7px;
  padding: 8px;
  background-color: rgb(231, 149, 169);
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.book-track-button:hover{
  background-color: rgb(239, 168, 186);
  cursor: pointer;
}

@media(max-width:800px) {
  .book-actions{
    grid-column: 2;
    margin-bottom: 30px;
  }

  .book-track-button{
    width: 140px;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .book-img-container{
    text-align: center;
    margin-bottom: 25px;
  }
  
  .book-img-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .book-name{
    margin-bottom: 10px;
  }

  .book-quantity{
    margin-bottom: 15px;
  }

  .purchase-again-B{
    width: 100%;
    margin-bottom: 15px;
  }

  .book-actions{
    grid-column: auto;
    margin-bottom: 70px;
    align-self: start;
  }

  .book-track-button {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 10px;
  }
}
