.quill-header{
  background-color: rgb(193, 187, 214);
  color:black;
  padding-left: 15px;
  padding-right: 15px;

  display:flex;
  align-items: center;
  justify-content: space-between;

  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 77px;
  z-index: 999;
}x

.quill-left-section{
  width: 180px;
}

@media (max-width: 800px) {
  .quill-left-section {
    width: unset;
  }
}

.header-link{
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border:1px solid rgba(0,0,0,0);
}

.header-link:hover{
  border: 1px solid rgba(255, 255, 255, 0.933);;
}

.quill-logo{
  width:77px;
  margin-top: 2px;
  margin-left: 44px;
}

@media (max-width: 575px) {
  .quill-logo {
    display: none;
  }
}

.quill-middle-section{
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar{
  flex:1;
  width:0;
  font-size: 16px;
  height:38px;
  padding-left: 15px;
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button{
  background-color: rgb(230, 228, 243);;
  border:none;
  width: 40px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon{
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.quill-right-section{
  flex-shrink:0;
  display:flex;
  gap: 20px;
}

.order-link{
  color:black;
}

.return-text{
  display:block;
  font-size:13px;
  margin-top: 8px;
}

.order-text{
  display:block;
  font-size:15px;
  font-weight: 700;
}

.cart-link{
  color:black;
  display: flex;
  align-items:center;
  position:relative;
  text-align: center;
}

.cart-icon{
  width:52px;
  height: 50px;
}

.cart-text{
  margin-top:15px;
  margin-left: 4px;
  font-size:12px;
  font-weight: 700;
}

.cart-quantity{
  color: rgb(209, 173, 220);
  font-size: 13px;
  font-weight: 700;

  position:absolute;
  top: -2.5px;
  right: 27px;

  background-color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
